/*    =--- 
     GENERALITES 
--------------= */

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
:root {
    --bg-color : #eee;
    
    /* couleurs provenant du logo */
    --red : #d02928;
    --yellow : #f5d013;
    --black: #010101;
    --wings: #cce9fb;
    /* Fin couleurs provenant du logo */

    --white: #f1f1f1;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
h1,h2,h3{
    font-family: "Jost", sans-serif;
}
h2{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}


/*     -------- 
---------------= HEADER = ------  */
header{
    background-color: var(--wings);
}
.header__logo{
    display: flex;
    justify-content: center;
    position: relative;
}
.hero__darddesvilles{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #f34886;
    text-shadow: 1px 1px 1px #f34886 ;
    text-shadow: 3px 3px 0px #f2edef;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.header__img{
    width: 250px;
}
.header__nav, .header__navCall{
    display: none;
}



/*     -------- 
---------------= HERO SECTION = ------  */
.hero{
    background-color: var(--wings);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    text-align: center;
}
/* .hero__movie{
    display: none;
} */
.hero__movie, .hero__imgWrapper, .hero__guepe img, .hero__frelon img, .hero__abeille img{
    display: none;
}

.hero__h1-yellow {
    position: relative;
}
.hero__h1-yellow::before {
    content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.801);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hero__h1-yellow:hover::before{
    visibility: visible;
    height: 28px;
}
/* .hero span::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.801);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
} */
/* .hero span:hover::before{
  visibility: visible;
  height: 28px;
} */
/* FIN Animation dans le h1 des différents nids de = à améliorer côté ui/ux */

h1{
    padding: 0.5em 0;
    color: var(--red);
}

.hero__h2{
    text-transform: none;
    text-align: center;
    color: var(--black);
    margin: 1em;
}
.hero p {
    padding-bottom: 2em;
}
/* .hero__imgWrapper{
    display: none;
} */
.hero__cta{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 20px 0px;
    color: #fff;
    background: #f34886;

}
.hero__cta:hover{
    background: transparent;
    border: 1px solid #f34886;
}

/* -------- = 
        MAIN = ----------
----------------------- */

/* ------------- = @Section REALISATION = ----------------- */

#portfolio{
    /* background-color: #e7f0f6; */
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 23em;
}
#portfolio h2{
    text-align: center;
    padding: 1em;
    margin-bottom: 12em;
    color: #fff;
}
.realisation__box img{
    width: 400px;
    height: 450px;
    transform-origin: 50% 50%;
    object-fit: cover;
    transition: all .5s ease-out;
}
.realisation__box img:hover{
    transform: scale(1.2);
}
.realisation__wrapper{
    position: relative;
    width: 260px;
    height: 300px;
}
.realisation__box{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: lightblue;
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
}
.realisation__box ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .45);
    transition: all .5s ease-out;
}
.realisation__box:active::after {
    background: rgba(0, 0, 0, 0);
  }
.realisation__box.box1{
    transform: translate(0%, 100%);
}
.realisation__box.box3{
    transform: translate(0%, -100%);
}
.realisation__box.box4,.realisation__box.box4,.realisation__box.box4,.realisation__box.box4{
    display: none;
}

/* ------------- = @Section ENGAGEMENT = ----------------- */
#commitment{
    background-color: #e7f0f6;
    /* background: #1a1a1a; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}
#commitment h2{
    text-align: center;
    margin: 2em 0.5em 1em 0.5em;
}
.engagement__card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 1em;
    padding: 20px;
    background: #e7f0f6;
    box-shadow: 0px 3px 20px -2px #8b9ba6;

}
.engagement__card li {
    list-style-type: none;
}

.engagement__vous{
    color: var(--red)
}
.engagement__card img{
    width: 150px;
    height: 150px;
}
.engagement__card h3, .engagement__card-content p{
    text-align: center;
}


/* ------------- = @Section TEAM = ----------------- */

.equipe,#estimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
}
.equipe{
    padding-bottom: 3em;
}
.equipe__presse{
    display: none;
}
.equipe h2{
    text-align: center;
    margin: 2em 0.5em 1em 0.5em;
}
.equipe__card{
    display: flex;
}
.equipe__picImg{
    width: 100%;
    padding: 3em 3em 0 3em;
    object-fit: cover;
    border-radius: 5px;
}
.equipe__card-front{
    width: 100%;
}
.equipe__contact{
    display: block;
    padding-bottom: 2em;
}
.equipe__contact a{
    display: inline-block;
    color: #f34886;
}
.equipe__member_info{
    padding-left: 3em;
}
.equipe__member_info h4{
    margin: 0;
    color: var(--black);
}


/* ------------- = @Section DEVIS = ----------------- */

#estimate{
    padding-bottom: 5em;
    /*tentative de remplir esthetiquement 
     background: url("../img/picture_maybe/the-hive-335984_1920.jpg");
    background-position: center; */
}
#estimate h2{
    text-align: center;
    width: 90%;
}
#estimate p{
    text-align: center;
    padding: 1.5em;

}

.estimate__cta{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 20px 0px;
    color: #fff;
    background: #f34886;
}
.estimate__cta:hover{
    background: #fff;
    color: var(--yellow);
    box-shadow: -1px 2px 8px 3px #f34886;
} 




/* ------------- = FOOTER = ----------------- */

footer {
    background-color: var(--wings);
}

footer a{
    color: #f34886;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
}
.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}
.footer__navigation{
    padding: 2em;
}
.footer__navigation ul{
    padding: 1em;
}
.footer__socialNetwork{
    padding: 2em;
    margin-top: -3em;
}
.footer__bottom{
    background: #9fd1f0;
    padding: 5px;
    font-size: 12px;
} 



/*  ------------------------------------------------------
------------------------ = MEDIA QUERIES  =---------------
------------------------------------------------------  */

/* Mq Pour les écrans dont la largeur est supérieur à 370px*/
@media screen and (min-width: 370px){

    /* ------------= section  TEAM 370px =------------- */
    .equipe__contact a{
        
        width: 100%; /*permet aux éléments ancre tel et mail de rester l'un sous l'autre */
    }
}
/* Mq Pour les écrans dont la largeur est supérieur à 400px*/
@media screen and (min-width: 400px){

    /* -----------= section FOOTER 370px =--------------- */
    .footer__bottom{
        text-align: center;
    } 


}
/* Mq Pour les écrans dont la largeur est supérieur à 500px*/
@media screen and (min-width: 500px){

        /*********** 
                TEAM SECTION 500px
                    **************/
    .equipe__card-front{
        margin-bottom: 2em;
    }
    .equipe__picImg{
        width: 250px;
        transform-origin: 110px -134px;
        transform: rotate(-10deg);
        filter: brightness(0.7);
    }
    .equipe__picImg:hover{
        transform: none;
        transition: all .5s ease-out;
    }
    .equipe__card-front{
        display: flex;
        background: #e7f0f6;
        margin-bottom: 5em;
    }
    .equipe__member_info{
        padding-left: 0;
        margin-top: 6em;
        position: relative;
        z-index: 1;
    }
    .equipe__member_info h4{
        margin-bottom: 3em;
    }
    .equipe__cardAymeric{
        margin-top: 2em;
    }
    .equipe__picAymeric{
        order: 2;
    }
    .equipe__picImgAymeric{
        transform-origin: 110px -134px;
        transform: rotate(10deg);
    }
    .equipe__member_infoAymeric{
        order: 1;
        left: 110px;

    }
}
/* Mq Pour les écrans dont la largeur est supérieur à 600px*/
@media screen and (min-width: 600px){

    /* --------------= FOOTER SECTION =------- */
    .footer__wrapper{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer__img{
        width: 100px;
    }
    .footer__socialNetwork{
        margin-top: 0;
    }
    .footer__socialNetwork h4{
        padding-bottom: 1em;
    }
    .footer__logo{
        padding-top: 1.5em;
    }
    .footer__logo a{
        padding-top: 1em;
    }


}
/* Mq Pour les écrans dont la largeur est supérieur à 768px*/
@media screen and (min-width: 768px){


    /*********** 
                HEADER SECTION 768px
                    ****************/

    header{
        display: flex;
        justify-content: space-around;
        /* position: sticky;  */
        top: 0;
        z-index: 67;
    }

    .header__img{
        width: 130px;
    }
    .header__nav{
        display: flex;
    }
    .header__links{
        display: flex;
        align-items: center;
    }
    .header__links li{
        padding: 0 0.5em;
        list-style: none;
    }
    .header__links a{
        color: var(--black);
        font-weight: bold;
    }
    .header__links a:hover{
        color: #f34886;
    }
    .header__navCall{
        display: inline-block;
    }
    .header__cta{
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        letter-spacing: 1px;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 20px 0px;
        color: #fff;
        background: transparent;
        border: 1px solid #f34886;

    }
    .header__cta:hover{
        background-color: #f34886;
        border-color: white;
    }
    .header__navCall{
        align-self: center;
    }

    /*********** 
                HERO SECTION 768px
                    **************/

    .hero__darddesvilles{
        top: 84%;
        left: -7%;
        transform: none;
        padding: 0;
    }
    .hero__h1-yellow:hover::before{
        visibility: hidden;
    }
    .hero__headContent{
        display: flex;
        justify-content: space-around;
        padding-bottom: 3em;
    }
    .hero__headTitles{
        text-align: left;
        padding-left: 0.5em;
    }
    .hero__h2{
        margin: 0;
        text-align: left;
        margin-top: 4.5em;
        width: 80%;
    }
    
    /* .hero__title1{
        position: relative;
        padding-right: 7px;
    }
    .hero__title1::after{
        content: ":";
        position: absolute;
        top: 0;
        left: 128px;
    } 
    .hero__title2{
        display: none;
    }*/
    .hero__frelon{
        margin: 2em 0;
    }
    .hero__movie{
        display: flex;
        padding-right: 1em;

    }


    /* -----------768px ----= Apparition des images au sruvol des H1 
    =--------------------------------------------------------*/

    .hero__guepe{
        position: relative;
    }
    
    .hero__guepe:hover img{
        display: block;
    }
    .hero__guepeImg{
        position: absolute;
        top: -47px;
        right: 57px;
        width: 165px;
        transform: rotate(35deg);
    }
    .hero__frelon{
        position: relative;
        margin: 3em 0;
    }
    .hero__frelon:hover img{
        display: block;
    }
    .hero__frelonImg{
        position: absolute;
        top: -55px;
        right: 64px;
        width: 165px;
        filter: opacity(0.5);
    }
    .hero__abeille{
        position: relative;
    }
    .hero__abeille:hover img{
        display: block;
    }
    .hero__abeilleImg{
        position: absolute;
        top: 43px;
        left: 0;
        width: 165px;
        filter: drop-shadow(2px 4px 6px black)
    }

    /* --------------768px----------= Fin Apparition des images au sruvol 
    =------------------------------------------------------------------*/

    .hero__imgWrapper{
        display: flex;
        flex-direction: column;
    }
    .hero__imgWrapper p{
        text-align: justify;
        padding-left: 0.5em;
    }
    .hero__sonObjectif{
        font-weight: bold;
    }
    .hero__figureWrapper{
        display: none;
        /* display: flex;
        justify-content: space-around; */
    }
    /* A Utiliser en mode Desktop si besoin. Concerne les Cadres pour Les Hyménoptères
    .hero__figure{
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        max-width: 220px;
        margin: auto;
    }
    .hero__figure img{
        max-width: 220px;
        max-height: 150px;
    }
    figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    } */
    video {
        width: 300px;
        height: 500px;
    }


    /*********** 768px
    FIN    ESPACEMENT 
    **************/
    #hero {
        padding: 6.5em 0;
    }
    #portfolio{
        padding: 6em 0em 28em;
        overflow: hidden;
    }
    #portfolio h2{
        /* text-transform: uppercase; */
    }
    #commitment {
        padding: 5em 0;
    }
    #team {
        padding: 5em 0;
    }
    #team h2{
        margin: 2em 0.5em 3em 0.5em;
    }
    #estimate h2{
        padding-top: 6em;
    }

    /*********** 768px FIN
    ESPACEMENT UTILES POUR QUE LES LIENS DE NAVIGATION PERMETTENT DE 
    TOMBER DIRECTEMENT SUR LE H2 DE CHAQUE SECTION MODE TABLETTE !!!
    **************/



    /*********** 
            REALISATION SECTION 768px
                    **************/
                    


    .realisation__box{
        width: 90%;
        height: 90%;
    } 
    /* ----------------768px-------=
     Customiser le centrage des images dans les prismes pour mettre en avant le travail effecté
     =-----------------------------------------------------------------------------------------*/

    
    .realisation__box.box2 img{
        width: 250px;
        height: 300px;
    }
    .realisation__box.box3 img{
        width: 250px;
        height: 270px;
        object-position: bottom;/*Permet de prendre la partie de l'image que nous souhaitons mettre en avant*/
    }
    .realisation__box.box4 img{
        object-position: right;
    }
    .realisation__box.box5 img{
        object-position: right;
    }
    .realisation__box img{
        width: 250px;
        height: 270px;
        transform-origin: 0% 0%;
    }

    /****************
    -----768PX---= Fin Customisation=-----
    -------------------------------- */

    .realisation__box.box1{
        transform: translate(50%, -75%);
    }
    .realisation__box.box2{
        transform: translate(-50%, -75%);
    }
    .realisation__box.box3{
        transform: translate(-100%, 0%);
    }
    .realisation__box.box4{
        transform: translate(0%, 0%);
        display: block;
    }
    .realisation__box.box5{
        transform: translate(100%, 0%);
    }
    .realisation__box.box6{
        transform: translate(50%, 75%);
    }
    .realisation__box.box7{
        transform: translate(-50%, 75%);
    } 
    

    /*********** 
            ENGAGEMENT SECTION 768px
                    **************/

    .engagement__cardWrapper{
        display: flex;
        justify-content: space-around;
    }
    .engagement__card:hover{
        filter: invert(1);
    }


    /*********** 
            TEAM SECTION 768px
                    **************/
/* 
    .equipe{
        position: relative;
        padding-bottom: 20em;
    }
    .equipe h2{
        text-align: center;
        padding: 1em;
        margin-bottom: 2em;
        color: #fff; 
    }
    .equipe__wrapper{
        display: flex;
        justify-content: space-between;
    }
    .equipe__picImg{
        width: auto;
    }
    .equipe__card{
        position: absolute;
        width: 30%;
        height: 63%;
        transform-style: preserve-3d;
        transition : all 0.5s ease;
        background: yellow; 
    }
    .equipe__card:hover{
        transform: rotateY(180deg);
    }
    .equipe__card-front{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #1a1a1a; 
        color: #f5d013;
    }
    .equipe__card-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #1a1a1a; 
        color: #f5d013;
    }
    .equipe__presse{
        display: none;
    }
    .equipe__presse img{
        width: 150px;
        height: 150px;
    }  */
    

/* Mq Pour les écrans dont la largeur est supérieur à 800px*/
@media screen and (min-width: 800px){

}
/* Mq Pour les écrans dont la largeur est supérieur à 1024px*/
@media screen and (min-width: 1024px){

}
}