/*    =--- GENERALITES ---= */

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
:root {
    --bg-color : #eee;
    /* --black : #e6e6e6; */
    /* couleurs provenant du logo */
    --red : #d02928;
    --yellow : #f5d013;
    --black: #010101;
    --wings: #cce9fb;
    /* Fin couleurs provenant du logo */
    --white: #f1f1f1;
}
body {
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
h1,h2,h3{
    font-family: "Jost", sans-serif;
}
a{
    text-decoration: none;
}


/*     -------- = HEADER = ------  */
header{
    background-color: var(--wings);
}
.header__logo{
    display: flex;
    justify-content: center;
}
.header__img{
    width: 250px;
}
.header__nav{
    display: none;
}


/*     -------- = HERO SECTION = ------  */
.hero{
    background-color: var(--wings);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

/* Animation dans le h1 des différents nids de = à améliorer côté ui/ux */
.hero span{
    position: relative;
}
.hero span::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.801);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hero span:hover::before{
    visibility: visible;
  height: 28px;
}
/* FIN Animation dans le h1 des différents nids de = à améliorer côté ui/ux */

h1{
    text-align: center;
    color: var(--red);
}
.hero h2{
    text-align: center;
    color: var(--black);
    margin: 1em;
}
.hero__imgWrapper{
    display: none;
}
.hero__cta{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 20px 0px;
    color: #fff;
    background: #f34886;

}
.hero__cta:active:hover{
    background: transparent;
    border: 1px solid #f34886;
}

/* -------- = MAIN = ---------- */

/* ------------- = @Section REALISATION = ----------------- */

#portfolio{
    /* background-color: #e7f0f6; */
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 23em;
}
#portfolio h2{
    text-align: center;
    padding: 1em;
    margin-bottom: 12em;
    color: #fff;
}
.realisation__box img{
    width: 400px;
    height: 450px;
    transform-origin: 50% 50%;
    object-fit: cover;
    transition: all .5s ease-out;
}
.realisation__box img:hover{
    transform: scale(1.2);
}
.realisation__wrapper{
    position: relative;
    width: 260px;
    height: 300px;
}
.realisation__box{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: lightblue;
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
}
.realisation__box ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .45);
    transition: all .5s ease-out;
}
.realisation__box:active::after {
    background: rgba(0, 0, 0, 0);
  }
.realisation__box.box1{
    transform: translate(0%, 100%);
}
.realisation__box.box3{
    transform: translate(0%, -100%);
}
.realisation__box.box4,.realisation__box.box4,.realisation__box.box4,.realisation__box.box4{
    display: none;
}
/*   
    A mettre en mode tablette et desktop
   Positioning of the prisms at Realisation section
.realisation__box.box1{
    transform: translate(50%, -75%);
}
.realisation__box.box2{
    transform: translate(-50%, -75%);
}
.realisation__box.box3{
    transform: translate(-100%, 0%);
}
.realisation__box.box4{
    transform: translate(0%, 0%);
}
.realisation__box.box5{
    transform: translate(100%, 0%);
}
.realisation__box.box6{
    transform: translate(50%, 75%);
}
.realisation__box.box7{
    transform: translate(-50%, 75%);
} */


/* ------------- = @Section ENGAGEMENT = ----------------- */
#commitment{
    background-color: #e7f0f6;
    /* background: #1a1a1a; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}
#commitment h2{
    text-align: center;
    margin: 2em 0.5em 1em 0.5em;
}
.engagement__card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 1em;
    padding: 20px;
    background: #e7f0f6;
    box-shadow: 0px 3px 20px -2px #8b9ba6;

}
.engagement__card li {
    list-style-type: none;
}

.engagement__vous{
    color: var(--red)
}
.engagement__card img{
    width: 150px;
    height: 150px;
}
.engagement__card h3, .engagement__card-content p{
    text-align: center;
}
/* .engagement__card p{
    width: 50%;
} */


/* ------------- = @Section TEAM = ----------------- */

#team,#estimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
}
#team{
    padding-bottom: 3em;
}
.equipe__presse{
    display: none;
}
#team h2{
    text-align: center;
    /* padding: 1em; */
    margin: 2em 0.5em 1em 0.5em;

    /* margin-bottom: 2em; */
}
.equipe__card{
    display: flex;
}
.equipe__picImg{
    width: 100%;
    /* padding: 1em; */
    padding: 3em 3em 0 3em;
    object-fit: cover;
    border-radius: 5px;
}
.equipe__card-front{
    width: 100%;
}
.equipe__contact{
    display: block;
    padding-bottom: 2em;
}
.equipe__contact a{
    display: inline-block;
    color: #f34886;
}
.equipe__member_info{
    padding-left: 3em;
}
.equipe__member_info h4{
    margin: 0;
    color: var(--black);
}


/* CODE POUR VERSION TABLETTE ET DESKTOP
#team{
    position: relative;
    padding-bottom: 20em;
}
#team h2{
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    color: #fff; 
}
.equipe__wrapper{
    display: flex;
    justify-content: space-between;
}
.equipe__picImg{
    width: auto;
}
.equipe__card{
    position: absolute;
    width: 30%;
    height: 63%;
    transform-style: preserve-3d;
    transition : all 0.5s ease;
    background: yellow; 
}
.equipe__card:hover{
    transform: rotateY(180deg);
}
.equipe__card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #1a1a1a; 
    color: #f5d013;
}
.equipe__card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #1a1a1a; 
    color: #f5d013;
}
.equipe__presse{
    display: none;
}
.equipe__presse img{
    width: 150px;
    height: 150px;
} */

/* ------------- = @Section DEVIS = ----------------- */
#estimate{
    padding-bottom: 5em;
}
#estimate h2{
    text-align: center;
    width: 90%;
}
#estimate p{
    text-align: center;
    padding: 1.5em;

}

.estimate__cta{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 20px 0px;
    color: #fff;
    background: #f34886;
}
.estimate__cta:active:hover{
    background: #fff;
    border: 1px solid #f34886;
    color: var(--yellow);
    box-shadow: -1px 2px 8px 3px #f34886;
} 




/* ------------- = FOOTER = ----------------- */

footer {
    background-color: var(--wings);
}

footer a{
    color: #f34886;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
}
/* .footer__logo{
    text-align: center;
} */
.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}
.footer__navigation{
    padding: 2em;
}
.footer__navigation ul{
    padding: 1em;
}
.footer__socialNetwork{
    padding: 2em;
    margin-top: -3em;
}
.footer__bottom{
    background: #9fd1f0;
    padding: 5px;
    font-size: 12px;
} 



/*  ------------------------------------------------------ = MEDIA QUERIES  =-----------------------------  */

/* Mq Pour les écrans dont la largeur est supérieur à 370px*/
@media screen and (min-width: 370px){
    .equipe__contact a{
        
        width: 100%; /*permet aux éléments ancre tel et mail de rester l'un sous l'autre */
    }
}
/* Mq Pour les écrans dont la largeur est supérieur à 400px*/
@media screen and (min-width: 400px){
    .footer__bottom{
        text-align: center;
    } 


}
/* Mq Pour les écrans dont la largeur est supérieur à 500px*/
@media screen and (min-width: 500px){
    .equipe__card-front{
        margin-bottom: 2em;
    }
    .equipe__picImg{
        width: 250px;
        transform-origin: 110px -134px;
        transform: rotate(-10deg);
    }
    .equipe__picImg:hover{
        transform: none;
        transition: all .5s ease-out;

    }
    .equipe__card-front{
        display: flex;
        background: #e7f0f6;
    }
    .equipe__member_info{
        padding-left: 0;
        margin-top: 6em;
        position: relative;
        z-index: 1;
    }
    .equipe__member_info h4{
        margin-bottom: 3em;
    }
    .equipe__cardAymeric{
        margin-top: 2em;
    }
    .equipe__picAymeric{
        order: 2;
    }
    .equipe__picImgAymeric{
        transform-origin: 110px -134px;
        transform: rotate(10deg);
    }
    .equipe__member_infoAymeric{
        order: 1;
        padding-left: 3em;

    }
}
/* Mq Pour les écrans dont la largeur est supérieur à 600px*/
@media screen and (min-width: 600px){

}
/* Mq Pour les écrans dont la largeur est supérieur à 7680px*/
@media screen and (min-width: 7680px){

}